.wp-block-lichtberg-card {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    gap: 2.5rem;

    &__image {
        flex: 1 1 40%;
        
        img {
            border-radius: 0.25rem;
        }
    }

    &__content {
        flex: 1 1 60%;
        
        &-title, &-content {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        &-title {
            margin-bottom: 1rem;
        }
    }
}